<% provide(:title, "Home") %>

<p>ここはトップページです。</p>

<figure class="image is-128x128">
  <%= attachment_image_tag @user, :profile_image, fallback: "no-image" %>
</figure>
<table>
  <tr>
    <% if @user %>
      <td>
        <%= @user.id %>
      </td>
      <td>
        <%= @user.email %>
      </td>
      <td>
        <%= @user.username %>
      </td>
    <% else %>
      <td>
        ゲストユーザー
      </td>
    <% end %>
  </tr>
</table>