<% provide(:title, "Home") %>

<div class="hero is-info is-bold">
   <div class="hero-body">
       <div class="container">
          <h1 class="title">今週の課題図書</h1>
       </div>
   </div>
</div>

<main class="columns">
  <div class="submenu column is-3">
    <aside class="box menu">
      <p class="menu-label">プロフィール</p>
      <%= link_to user_path(current_user) do %>
        <figure class="image is-128x128">
          <%= attachment_image_tag @user, :profile_image, fallback: "no-image",class:"is-rounded" %>
        </figure>
      <% end %>
      <% if @user %>
        <p class="menu-label">ニックネーム</p>
        <%= link_to user_path(current_user) do %>
        <p class="is-size-5 has-text-dark"><%= @user.username %></p>
        <% end %>
        <p class="menu-label">フォロー</p>
        <p class="menu-label">フォロワー</p>
        <p class="menu-label">読んだ本の数</p>
        <p class="menu-label">集めたいいねの数</p>
      <% else %>
        <p class="menu-label">ニックネーム</p>
        <a class="is-size-5 has-text-dark">読書習慣をつけたいダルマ</a>
      <% end %>
    </aside>
    <aside class="box menu">
      <p class="menu-label">来週の課題図書</p>
      <div class="box">
        来週の課題図書の画像が入ります
      </div>
      <p class="menu-label">タイトル</p>
      <div class="is-size-5 title">TITLE</div>
      <p class="menu-label">説明</p>
      <div>全米が涙したベストセラー。</div>
   </aside>
  </div>

  <div class="column">
    <div class="hero is-bold">
      <div class="hero-body level">
        <div class="is-size-4 has-text-weight-bold">課題図書についてのコメント 一覧</div>
        <div class="level-item level-right">
          <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" name="search" placeholder="キーワード検索">
            </div>
            <div class="control">
                <a class="button is-info"><i class="fa fa-search"></i>検索</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="level">
      <div class="level-item  tabs">
        <ul>
         <li class="is-active"><a>新しい順</a></li>
           <li><a>古い順</a></li>
           <li><a>いいねが多い順</a></li>
        </ul>
      </div>
    </section>
    <section class="level">
      <div class="level-item  tabs">
        <ul>
         <li class="is-active"><a>全ての投稿</a></li>
           <li><a>フォローした人の投稿</a></li>
           <li><a>フォローした人がいいねした投稿</a></li>
        </ul>
      </div>
    </section>
  <div class="container is-fluid">
    <p class="">
      Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.なんでちょっとはみ出るの？右側。ここに投稿一覧を作る。並び替えと絞り込みのデザインもっといい感じにしたい。プロフィールの画像を中心に持ってきたいけど？
    </p>
  </div>
  </div>
</main>