

<% if resource.errors.any? %>
  <div class="notification is-danger">
    <% resource.errors.full_messages.each do |message| %>
        <p class="notice"><%= message %></p>
    <% end %>
  </div>
<% end %>