/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

// ログイン画面css

 * {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --shadowDark: #D9DDE6;
  --background: rgb(54, 54, 54);
  // --background: #363636;
  --shadowLight: #EFF5FE;
}

.box{
  background: #E4E9F2;
}

body {
  min-height:100vh;
  background: var(--background);

}

.notification:not(:last-child){
  margin-bottom: 0;
}

.hero-body {
  justify-content: center;
}

.setup {
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
}

.textbox {
  background-color: var(--shadowDark) !important;
}

.textboxcss{
  border-radius:30px;
}

a {
  font-size:1rem;
  font-weight: 400;
}

.parallax-bg{
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
  background-image: image-url("book.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.columns{
  margin: 0 !important; 
}

