<p>【読書習慣】メールアドレス変更手続き <%= @email %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスを <%= @resource.unconfirmed_email %> に変更することをお知らせします。</p>
<% else %>
  <p>メールアドレスが <%= @resource.email %> に変更されたことをお知らせします。</p>
<% end %>
