<p>【読書習慣】パスワード変更手続き <%= @resource.email %></p>

<p>下のリンクから、パスワード変更手続きを進めてください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、パスワードを変更しない場合、このメールは無視してください。</p>
<p>このリンクから新しいパスワードを設定しない限り、パスワードは更新されません。</p>
