<%#= form_with(model: @output, local: true) do |form| %>
<%#= form_with(model: @output, url: (@output.new_record? ? book_outputs_path(@book, @output) : book_output_path(@output)), local: true) do |form| %>
<%= form_with(model: @output, url: (@output.new_record? ? book_outputs_path(@book, @output) : book_output_path(@book, @output)), local: true) do |form| %>

  <div class="field">
    <div class="control">
      <%= form.label :body, "アウトプット"%>
      <span class="has-text-danger">*</span>
      <%= form.text_area :body, class: "input is-medium textbox textarea textboxcss", required: true %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
